<!DOCTYPE HTML>
<html ng-app="myApp">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta http-equiv="Content-Security-Policy" content="default-src * data:; style-src * 'unsafe-inline'; script-src * 'unsafe-inline' 'unsafe-eval'">
	<script src="components/monaca-onsenui/js/angular/angular.js"></script>
	<script src="components/loader.js"></script>
	<link rel="stylesheet" href="components/loader.css">
	<link rel="stylesheet" href="css/style.css">

	<script>
		// Onsen UIモジュールを注入したmyAppモジュールを作成し、変数appに代入する。
		var app = angular.module('myApp', ['onsen']);
	</script>


	<!-- Modules -->
	<!--<script src="js/app.js"></script>
-->
	<!-- Controllers -->
	<script src="js/todo.js"></script>

</head>

<body ng-app="myApp">
	<!--navigator-->
	<ons-navigator var="myNavigator" page="page1.html">
	</ons-navigator>

	<!--page-->
	<ons-page id="page1.html" ng-controller="MainController">
		<ons-toolbar>
			<div class="center">{{title}}</div>
		</ons-toolbar>


		<ul class="list">
			<form class="list__item" ng-submit="addNew()">
				<input type="text" class="textarea textarea--transparent" style="height:50px;margin-top:4px;" placeholder="Add new task here" ng-model="newTaskBody">
				<input type="submit" class="button button--outline" style="float:right;margin-top:5px;" value="add">
			</form>

			<li class="list__item list__item--tappable" style="width:100%;height:50px;margin-top:4px;" ng-repeat="task in tasks" ng-if="task.body !=''">
				<label class="checkbox checkbox--list-item" id="done-{{task.done}}">
					<input type="checkbox" ng-model="task.done">
					<div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
					{{ task.body }} {{ task.date|date: "M/dd hh:mm" }}
				</label>
			</li>
			<li class="list__item list__item--tappable" style="width:100%;height:50px;margin-top:4px;">
				<label class="checkbox checkbox--list-item" id="done-{{task.done}}">
					<input type="checkbox" ng-model="task.done">
					<div class="checkbox__checkmark checkbox--list-item__checkmark"></div>
					{{ newTaskBody }}
				</label>
			</li>
		</ul>
	</ons-page>


</body>

</html>